
kicad/firewaterburn.bck

kicad/firewaterburn-cache.lib

kicad/firewaterburn.dcm

kicad/firewaterburn.kicad_pcb-bak

kicad/firewaterburn.sch-bak

kicad/USB.sch-bak

kicad/sym-lib-table

kicad/fp-lib-table

kicad/fp-info-cache
